@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --left-half-star:0;
  --right-half-star:unset;
}

body {
  font-family: var(--body-font-family);
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--body-background-Color);
}

::-moz-selection {
  background: #333;
  -webkit-text-fill-color: #fff;
}

::selection {
  background: #333;
  -webkit-text-fill-color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  background: rgba(78, 167, 255, 0.7215686275);
}

::-webkit-scrollbar-thumb {
  border: 2px solid #fff;
  background: transparent;
  border-radius: 20px;
}

ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none !important;
  color: unset !important;
}

img {
  width: 100%;
  height: 100%;
}

.linkwithbtn, .linkwithbtnrespon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4EA7FF !important;
}
@media (max-width: 767px) {
  .linkwithbtn, .linkwithbtnrespon {
    display: none;
  }
}
.linkwithbtn p, .linkwithbtnrespon p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}
.linkwithbtn button, .linkwithbtnrespon button {
  width: 255px;
  border: 1.5px solid #4EA7FF;
  border-radius: 6px;
  padding: 9px 11px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.linkwithbtn button a, .linkwithbtnrespon button a {
  color: #4EA7FF !important;
  font-size: 20px;
}
.linkwithbtn button:hover, .linkwithbtnrespon button:hover {
  background-color: #1C8EFF;
  border: 1px solid #fff;
}
.linkwithbtn button:hover a, .linkwithbtnrespon button:hover a {
  color: #fff !important;
  text-decoration: none !important;
}
@media (max-width: 991px) {
  .linkwithbtn, .linkwithbtnrespon {
    gap: 5px;
  }
  .linkwithbtn p, .linkwithbtnrespon p {
    font-size: 10px;
  }
  .linkwithbtn button, .linkwithbtnrespon button {
    width: 150px;
  }
  .linkwithbtn button a, .linkwithbtnrespon button a {
    font-size: 12px;
  }
}
.linkwithbtn.linkwithbtnrespon, .linkwithbtnrespon.linkwithbtnrespon {
  margin-bottom: 70px;
  display: none;
}
@media (max-width: 767px) {
  .linkwithbtn.linkwithbtnrespon, .linkwithbtnrespon.linkwithbtnrespon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 22px;
    position: relative;
  }
  .linkwithbtn.linkwithbtnrespon::after, .linkwithbtnrespon.linkwithbtnrespon::after {
    content: "";
    position: absolute;
    top: -24px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(#33F3FF), color-stop(49.48%, #8987FF), to(#B843FF));
    background: linear-gradient(#33F3FF 0%, #8987FF 49.48%, #B843FF 100%);
    max-width: 313px;
    margin: 0 auto;
  }
  .linkwithbtn.linkwithbtnrespon p, .linkwithbtnrespon.linkwithbtnrespon p {
    text-align: center !important;
    font-size: 14px;
  }
  .linkwithbtn.linkwithbtnrespon button, .linkwithbtnrespon.linkwithbtnrespon button {
    width: 313px;
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .linkwithbtn.linkwithbtnrespon, .linkwithbtnrespon.linkwithbtnrespon {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .linkwithbtn.linkwithbtnrespon::after, .linkwithbtnrespon.linkwithbtnrespon::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.buttons select {
  width: 130px;
  padding: 9px 0;
  color: var(--blue-text-color);
  border: 1px solid var(--blue-text-color);
  outline: none;
  background: transparent;
}
.buttons .theme-control {
  width: 60px;
  height: 30px;
  border-radius: 40px;
  background-color: #F4F9FF;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(79, 112, 156, 0.3411764706);
}
.buttons .theme-control button {
  position: absolute;
  top: 0px;
  left: 12px;
  width: 100%;
  padding-bottom: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: none;
  margin-bottom: 2px;
}
@media (max-width: 767px) {
  .buttons .theme-control button.lightBtn.offcanv {
    -webkit-transform: translate(16px, -1px) !important;
            transform: translate(16px, -1px) !important;
  }
}
.buttons .theme-control button.darkBtn svg path {
  fill: #4EA7FF !important;
}
.buttons .language-control button {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #1C8EFF;
}
.buttons .language-control button p {
  position: relative;
  margin: 0;
  font-size: 14px;
  background-color: #fff;
  color: #1C8EFF;
  text-align: center;
  padding: 7px 10px;
  font-weight: 300;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.buttons .language-control button:hover p {
  color: #fff;
  background-color: #1C8EFF;
  border: 1px solid #fff;
}

.submitBtn {
  width: 255px;
  height: 46px;
  border: 1.5px solid #FFFFFF;
  border-radius: 6px;
  margin-top: 63px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.submitBtn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #1C8EFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
.submitBtn::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background-color: #1C8EFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
.submitBtn:hover {
  color: #4EA7FF;
}
.submitBtn:hover::after {
  width: 50%;
  background-color: #fff;
}
.submitBtn:hover::before {
  width: 50%;
  background-color: #fff;
}
.submitBtn.special {
  background: #4EA7FF;
  margin-bottom: 50px;
  margin-top: 0;
}
.submitBtn.special::before, .submitBtn.special::after {
  background: #4EA7FF;
}
.submitBtn.special:hover {
  color: #4EA7FF;
  border: 1px solid #4EA7FF;
}
.submitBtn.special:hover::before, .submitBtn.special:hover::after {
  background: #fff;
}

.codeDetails {
  background: transparent !important;
}
.codeDetails .alert.alert-danger {
  max-width: 500px;
  margin: 0 auto;
}
.codeDetails .content {
  text-align: center !important;
}
.codeDetails .content h1 {
  padding: 62px 0 55px;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: 700;
  color: var(--text-in-light-dark);
}
@media (max-width: 500px) {
  .codeDetails .content h1 {
    font-size: 25px;
  }
}
.codeDetails .content .icon {
  max-width: 194px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .codeDetails .content .icon {
    max-width: 150px;
  }
}
.codeDetails .content .icon svg {
  width: 100%;
  height: 100%;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  stroke: var(--text-in-light-dark);
}
.codeDetails .content .submitBtn {
  margin-top: 137px;
  background: #4EA7FF;
  margin-bottom: 117px !important;
}
@media (max-width: 500px) {
  .codeDetails .content .submitBtn {
    margin-top: 100px;
    margin-bottom: 80px !important;
  }
}
.codeDetails .content .submitBtn::before, .codeDetails .content .submitBtn::after {
  background: #4EA7FF;
}
.codeDetails .content .submitBtn:hover {
  color: #4EA7FF;
  border: 1px solid #4EA7FF;
}
.codeDetails .content .submitBtn:hover::before, .codeDetails .content .submitBtn:hover::after {
  background: #fff;
}

.specialHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 61px;
  color: var(--text-in-light-dark);
}
.specialHeader h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
}
.specialHeader .tabs .tab a h2 {
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 0;
}
@media (max-width: 500px) {
  .specialHeader {
    margin-top: 45px;
  }
}
@media (max-width: 370px) {
  .specialHeader h1 {
    font-size: 20px;
  }
}

.date-slider {
  position: relative;
  width: 160px;
  border: 1px solid;
  padding: 12px 15px;
  border-radius: 5px;
}
.date-slider .swiper-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.date-slider .swiper-backface-hidden .swiper-slide {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-right: 0 !important;
}
.date-slider .slide .slide-tab {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  background: linear-gradient(90.15deg, #33F3FF 0.13%, #8987FF 49.48%, #B843FF 99.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.date-slider .prevDate {
  position: absolute;
  right: 8px;
  top: 10px;
  color: #4EA7FF;
  z-index: 5;
}
.date-slider .nextDate {
  color: #4EA7FF;
  position: absolute;
  top: 10px;
  z-index: 9;
  left: 8px;
  z-index: 5;
}
@media (max-width: 991px) {
  .date-slider {
    width: 140px;
  }
}

.notFound {
  max-width: 560px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.notFound img {
  width: 100%;
}

.gradient-text {
  background: linear-gradient(90.15deg, #33F3FF 0.13%, #8987FF 49.48%, #B843FF 99.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.gradient-border {
  border: 2px solid transparent;
  background: linear-gradient(90.15deg, #33F3FF 0.13%, #8987FF 49.48%, #B843FF 99.87%) border-box;
}

.gradient-dashed-border {
  border-style: dashed;
  border-width: 2px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff00ff), to(#00ffff));
  background-image: linear-gradient(to bottom right, #ff00ff, #00ffff);
  background-clip: padding-box;
}

.head-exam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 30px;
  margin: 50px 0 30px;
  color: var(--text-in-light-dark);
}
.head-exam::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 3px;
  background: linear-gradient(90.15deg, #33F3FF 0.13%, #8987FF 49.48%, #B843FF 99.87%);
}
.head-exam .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head-exam .text h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
}
.head-exam .text img {
  max-width: 220px;
  -o-object-fit: contain;
     object-fit: contain;
}
.head-exam .input {
  position: relative;
  overflow: hidden;
  max-width: 527px;
  width: 100%;
}
.head-exam .input input {
  border-radius: 8px;
  width: 100%;
  height: 46px;
  padding: 18px 55px 18px;
  background: linear-gradient(90.15deg, rgba(51, 243, 255, 0.11) 0.13%, rgba(137, 135, 255, 0.05) 49.48%, rgba(184, 67, 255, 0.08) 99.87%), linear-gradient(90.45deg, rgba(94, 216, 255, 0.07) 0%, rgba(132, 144, 255, 0.07) 47.9%, rgba(192, 90, 255, 0.07) 99.96%);
  border: none;
  outline: none;
  font-size: 12px;
  color: var(--text-in-light-dark);
}
.head-exam .input input::-webkit-input-placeholder {
  color: var(--text-in-light-dark);
  font-weight: 600;
}
.head-exam .input input::-moz-placeholder {
  color: var(--text-in-light-dark);
  font-weight: 600;
}
.head-exam .input input:-ms-input-placeholder {
  color: var(--text-in-light-dark);
  font-weight: 600;
}
.head-exam .input input::-ms-input-placeholder {
  color: var(--text-in-light-dark);
  font-weight: 600;
}
.head-exam .input input::placeholder {
  color: var(--text-in-light-dark);
  font-weight: 600;
}
.head-exam .input label {
  position: absolute;
  left: 8px;
  top: 7px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.head-exam + hr {
  margin: 30px 0;
  display: none;
}
@media (max-width: 1200px) {
  .head-exam .text {
    gap: 20px;
  }
  .head-exam .text h1 {
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .head-exam {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }
  .head-exam .text {
    gap: 30px;
  }
  .head-exam .text h1 {
    font-size: 40px;
  }
  .head-exam .input {
    width: 100%;
  }
  .head-exam .input input {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .head-exam {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }
  .head-exam .text {
    gap: 15px;
  }
  .head-exam .text h1 {
    font-size: 30px;
  }
  .head-exam .text img {
    max-width: 200px;
  }
  .head-exam .input {
    width: 100%;
  }
  .head-exam .input input {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .head-exam {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }
  .head-exam .text {
    gap: 15px;
  }
  .head-exam .text h1 {
    font-size: 23px;
  }
  .head-exam .text img {
    max-width: 160px;
  }
  .head-exam .input {
    width: 100%;
  }
  .head-exam .input input {
    width: 100%;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.loading div {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.personal-details .alert-danger {
  max-width: 600px;
  font-size: 14px;
  margin-bottom: 20px !important;
}

.fixed-rating {
  display: inline-block;
}

.star {
  color: #ccc; /* Color of the unfilled stars */
  font-size: 20px; /* Adjust the font size as needed */
  margin-right: 2px; /* Adjust the margin between stars as needed */
}

.filled {
  color: gold; /* Color of the filled stars */
}

.half-filled {
  position: relative;
  display: inline-block;
  color: #ccc; /* Color of the half-filled star */
}

.half-filled:before {
  content: "★";
  position: absolute;
  left: var(--left-half-star);
  right: var(--right-half-star);
  width: 50%;
  overflow: hidden;
  color: gold;
}

@-webkit-keyframes atomRotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes atomRotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.date-slider {
  border: 1px solid var(--text-in-light-dark);
}
.date-slider .slide .slide-tab {
  font-size: 14px;
}
@media (max-width: 991px) {
  .date-slider {
    width: 130px;
  }
}
@media (max-width: 767px) {
  .date-slider {
    width: 110px;
  }
  .date-slider .slide .slide-tab {
    font-size: 9px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 500px) {
  .date-slider {
    width: 80px;
  }
}