.upcoming-page{
  color: var(--color-h1-wisdom);
  margin-top: 234px;
  .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    align-items: center;
    .left{
      h1{
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      p{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 32px;
      }
      .upcomingexam-date{  
        background: linear-gradient(0deg, #F2F9FF, #F2F9FF),
        linear-gradient(90.15deg, #33F3FF 0.13%, #8987FF 49.48%, #B843FF 99.87%);
        text-align: center;
        padding: 19px 21px;    
        position: relative;
        margin-bottom: 32px;
        border-radius: 6px;
        overflow: hidden;
        z-index: 1;
        &::before{
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          height: 2px;
          background: linear-gradient(90.15deg, #33F3FF 0.13%, #8987FF 49.48%, #B843FF 99.87%);
          z-index: -1;
          animation-name: movefromrighttoleft;
          animation-duration: 1000ms;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }
        &::after{
          content: "";
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: linear-gradient(90.15deg, #33F3FF 0.13%, #8987FF 49.48%, #B843FF 99.87%);
          z-index: -1;
          animation-name: movefromlefttoright;
          animation-duration: 1000ms;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }
        p{
          margin-bottom: 0;
        }
      }
    }
    .right{
      max-width: 340px;
    }
  }
  @media (max-width :991px){
    .content{
      .left{
        h1{
          font-size: 30px;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
  @media (max-width :767px){
    margin-top: 180px;
    .content{
      flex-direction: column-reverse;
      .left{
        h1{
          font-size: 40px;
        }
        p{
          font-size: 16px;
        }
      }
    }
  }
  @media (max-width :500px){
    margin-top: 150px;
    .content{
      flex-direction: column-reverse;
      .left{
        h1{
          font-size:30px;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
  .signup-footer{
    padding: 40px 0 25px; 
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 9;
    margin-top: 250px;
    text-align: center;
    @media (max-width : 600px){
      margin-top: 150px;
    }
    &::after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(89.94deg, #38F3FF 20.13%, #C463FF 77.65%);
      filter: blur(67px);
      z-index: -1;
    }
    h6{
      padding: 0;
      justify-content: center;
      color: #fff;
    }
  }
}
@keyframes movefromlefttoright{
  0%{
    left: 0;
  }
  100%{
    left: 100%;
  }
}
@keyframes movefromrighttoleft{
  0%{
    right: 0;
  }
  100%{
    right: 100%;
  }
}